<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
    <style>
      /* Add this to make the banner responsive */
      header img {
        max-width: 100%;
        height: auto;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% if site.banner_image %}
          <img src="{{ site.banner_image | relative_url }}" alt="Banner Image" class="responsive-banner"/>
        {% endif %}

      <!--  <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1> -->

        {% if site.work_in_progress %}
          <p class="work-in-progress">{{ site.work_in_progress_message }}</p>
        {% endif %}

        {% if site.logo %}
          <img src="{{ site.logo | relative_url }}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>



        <!-- External links -->
        <ul class="external-links">
          {% for link in site.external_links %}
            <li><a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </header>

      <section>
        {{ content }}
        Meanwhile you can visit <a href="https://oldsite.lucidillusions.in/">Old Website</a>
      </section>


    </div>

<footer>
  <div class="social-icons">
    <p>Copyright <i class="fa-regular fa-copyright"></i> 2011-2024 || By <a href="mailto:i@lucidillusions.in">Lucid Illusions</a></p>
    <a href="https://bsky.app/profile/lucidillusions.in" title="BlueSky"><i class="fa-brands fa-bluesky"></i></a>
    <a href="https://www.instagram.com/lucidillusions.in" title="Instagram"><i class="fa fa-instagram"></i></a>
    <a href="https://oldsite.lucidillusions.in" title="Archive"><i class="fa-solid fa-box-archive"></i></a>
    <a href="https://www.twitter.com/lucidillusions_" title="Twitter"><i class="fa-brands fa-x-twitter"></i></a>
    <a href="https://www.facebook.com/LucidIllusions" title="Facebook"><i class="fa fa-facebook-square"></i></a>
  </div>
</footer>

<script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
<script>
  kofiWidgetOverlay.draw('lucidillusions', {
    'type': 'floating-chat',
    'floating-chat.donateButton.text': 'Support me',
    'floating-chat.donateButton.background-color': '#00b9fe',
    'floating-chat.donateButton.text-color': '#fff'
  });
</script>


  </body>
</html>
